# ENCODING Y ESTANDARIZACIÓN
---

In [22]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
import pickle
import warnings
warnings.filterwarnings('ignore')

In [23]:
df= pd.read_csv("../datos/02-bikes_limpio.csv", index_col= 0).reset_index(drop= True)
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,registered
0,winter,0,1,1,1,0,2,14.110847,18.18125,80.5833,10.749882,654
1,winter,0,2,0,4,1,2,14.902598,17.68695,69.6087,16.652113,670
2,winter,0,3,0,4,1,1,8.050924,9.47025,43.7273,16.636703,1229
3,spring,0,4,0,7,0,1,8.200000,10.60610,59.0435,10.739832,1454
4,spring,0,5,0,2,1,1,9.305237,11.46350,43.6957,12.522300,1518

In [24]:
# Según lo que vimos en visualización, eliminamos la columna "temp" por redundante
df.drop("temp", axis=1, inplace= True)

### Probamos primero estas opciones
- **Year** : Le damos más peso al año 2019
- **Workingday** : Le damós más peso a los días laborables (1)
- **Weathersit** : El encoding sería 1 - 4, para el 2 le ponemos un 2 y para el 3 le ponemos un 0
- **Holiday** : Le damos más peso a los días que no son festivos (0)
- **Season** : Hay que hacerlo. Verano 2, primavera y otoño 1, winter 0
- **mnth** enero: 0, febrero, marzo, abril, noviembre y diciembre: 1, junio, julio, agosto, septiembre, octubre: 2
- **Weekday** : Vamos probando difentes pesos

In [25]:
map_yr = {0:1, 1:2}
df["yr"] = df["yr"].map(map_yr)

In [26]:
map_workingday = {0:1, 1:2}
df["workingday"] = df["workingday"].map(map_workingday)

In [27]:
map_weathersit = {3:0, 2:2, 1:4}
df["weathersit"] = df["weathersit"].map(map_weathersit)

In [28]:
map_holiday = {0:7, 1:0}
df["holiday"] = df["holiday"].map(map_holiday)

In [29]:
map_season = {"winter":0, "autumn":1, "spring":1, "summer":2}
df["season"] = df["season"].map(map_season)

In [30]:
mapa_mnth = {1: 0, 2:0, 3: 1, 4: 1, 5: 2, 6:2, 7:2, 8:2, 9:2, 10:2, 11:1, 12:1}
df["mnth"] = df["mnth"].map(mapa_mnth)

In [31]:
mapa_weekday = {1: 0, 2:1, 3: 1, 4: 2, 5: 2, 6:2, 7:1}
df["weekday"] = df["weekday"].map(mapa_weekday)

In [32]:
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,1,0,0,0,1,2,18.18125,80.5833,10.749882,654
1,0,1,0,7,2,2,2,17.68695,69.6087,16.652113,670
2,0,1,1,7,2,2,4,9.47025,43.7273,16.636703,1229
3,1,1,1,7,1,1,4,10.60610,59.0435,10.739832,1454
4,1,1,2,7,1,2,4,11.46350,43.6957,12.522300,1518

In [33]:
df.to_csv("../datos/05-bikes_enc_sinest_limpio.csv")

In [34]:
df_est = df.copy()
df_est.head(1)

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,1,0,0,0,1,2,18.18125,80.5833,10.749882,654

## ESTANDARIZACION

In [35]:
# Creamos un dataframe con las columnas numéricas: atemp, hum y windspeed
num = df_est[["atemp", "hum", "windspeed"]]
num.head(2)

      atemp      hum  windspeed
0  18.18125  80.5833  10.749882
1  17.68695  69.6087  16.652113

In [36]:
# Estandarizamos las columnas con StandardScaler y sustituimos las columnas numéricas originales por las estandarizadas
st = StandardScaler()
x_tranformadas = pd.DataFrame(st.fit_transform(num))
x_tranformadas.columns = num.columns
df_est[x_tranformadas.columns] = x_tranformadas
df_est.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,registered
0,0,1,0,0,0,1,2,-0.680818,1.252343,-0.387833,654
1,0,1,0,7,2,2,2,-0.741507,0.480996,0.748899,670
2,0,1,1,7,2,2,4,-1.750344,-1.338073,0.745931,1229
3,1,1,1,7,1,1,4,-1.610886,-0.261577,-0.389769,1454
4,1,1,2,7,1,2,4,-1.505615,-1.340294,-0.046477,1518

In [37]:
df_est.to_csv("../datos/06-bikes_enc_est_limpio.csv")

In [38]:
with open ("../datos/estandarizar.pkl", "wb") as fp:
    pickle.dump(st, fp)